/vendor/
/node_modules/
/public/storage
/storage/*.key

.env
.env.*.backup
Homestead.yaml
Homestead.json

/.vscode
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

/composer.phar

npm-debug.log
yarn-error.log
yarn.lock

*.log
*.out
*.pid

.DS_Store

Thumbs.db
